node_modules/**/*
./frontend/node_modules
node_modules
node_modules/
./backend/node_modules
/node_modules
.expo/*
./frontend/.expo
npm-debug.*
./frontend/npm-debug
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
./frontend/web-build/
BackendXX/
BackendXX
backend/node_modules
backend/node_modules
.env
hide/
# macOS
.DS_Store
